openapi: 3.0.0
info:
  title: Petmily API
  version: 1.0.0
  description: 산책 중심 반려동물 관리 서비스 API

servers:
  - url: https://petmily.p-e.kr
    description: 프로덕션 서버
  - url: http://localhost:8000
    description: 로컬 개발 서버

tags:
  - name: auth
    description: 인증 관련 API
  - name: users
    description: 사용자 관리 API
  - name: pets
    description: 반려동물 관리 API
  - name: follows
    description: 팔로우 시스템 API
  - name: routes
    description: 산책로 관리 API
  - name: facilities
    description: 시설 관리 API
  - name: walking-mates
    description: 산책 메이트 모집 API
  - name: sessions
    description: 산책 세션 API
  - name: health-logs
    description: 반려동물 건강 로그 API
  - name: reviews
    description: 산책 후기 API

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

  schemas:
    ApiResponse:
      type: object
      properties:
        success:
          type: boolean
          example: true
        message:
          type: string
          example: '요청이 성공적으로 처리되었습니다'
        data:
          type: object

    Error:
      type: object
      properties:
        success:
          type: boolean
          example: false
        message:
          type: string
          example: '오류가 발생했습니다'
        statusCode:
          type: integer
          example: 400

    # User Schemas
    User:
      type: object
      properties:
        id:
          type: string
          example: '1'
        username:
          type: string
          example: 'johndoe'
        email:
          type: string
          example: 'john@example.com'
        name:
          type: string
          example: '홍길동'
        role:
          type: string
          enum: [USER, ADMIN]
          example: 'USER'
        status:
          type: string
          enum: [ACTIVE, INACTIVE, BANNED]
          example: 'ACTIVE'
        birthDate:
          type: string
          format: date
          example: '1990-01-01'
        phone:
          type: string
          example: '010-1234-5678'
        profileImage:
          type: string
          example: 'https://example.com/profile.jpg'
        region:
          type: string
          example: '서울특별시 강남구'
        latitude:
          type: number
          example: 37.4979
        longitude:
          type: number
          example: 127.0276
        isPetOwner:
          type: boolean
          example: true
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time

    Pet:
      type: object
      properties:
        id:
          type: string
          example: '1'
        petName:
          type: string
          example: '뭉치'
        species:
          type: string
          enum: [DOG, CAT, OTHER]
          example: 'DOG'
        breed:
          type: string
          example: '골든 리트리버'
        age:
          type: integer
          example: 3
        birthDate:
          type: string
          format: date
          example: '2021-03-15'
        gender:
          type: string
          enum: [MALE, FEMALE]
          example: 'MALE'
        isNeutered:
          type: boolean
          example: true
        size:
          type: string
          enum: [SMALL, MEDIUM, LARGE]
          example: 'LARGE'
        weight:
          type: number
          example: 30.5
        personality:
          type: string
          example: '온순하고 사람을 좋아함'
        healthStatus:
          type: string
          example: '건강함'
        specialNotes:
          type: string
          example: '산책을 아주 좋아함'
        profileImage:
          type: string
          example: 'https://example.com/pet.jpg'
        registrationNumber:
          type: string
          example: '410000000000001'
        microchipNumber:
          type: string
          example: '900000000000001'
        ownerId:
          type: string
          example: '1'
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time

    WalkingRoute:
      type: object
      properties:
        id:
          type: string
          example: '1'
        routeName:
          type: string
          example: '한강공원 산책로'
        region:
          type: string
          example: '서울특별시 영등포구'
        distance:
          type: number
          example: 3.5
        duration:
          type: integer
          example: 50
        difficulty:
          type: string
          enum: [EASY, MODERATE, HARD]
          example: 'EASY'
        pathData:
          type: string
          example: '[{"lat":37.5326,"lng":126.9012},{"lat":37.5335,"lng":126.9025}]'
        description:
          type: string
          example: '한강을 따라 걷는 평탄한 산책로'
        createdAt:
          type: string
          format: date-time

    Facility:
      type: object
      properties:
        id:
          type: string
          example: '1'
        name:
          type: string
          example: '펫프렌들리 카페'
        type:
          type: string
          enum: [CAFE, SHOP, HOSPITAL, PARK, OTHER]
          example: 'CAFE'
        address:
          type: string
          example: '서울특별시 강남구 테헤란로 123'
        latitude:
          type: number
          example: 37.4979
        longitude:
          type: number
          example: 127.0276
        phone:
          type: string
          example: '02-1234-5678'
        description:
          type: string
          example: '반려동물과 함께 즐길 수 있는 카페'
        isSponsor:
          type: boolean
          example: true
        discountInfo:
          type: string
          example: '산책 후 방문 시 10% 할인'
        openingHours:
          type: string
          example: '평일 10:00-22:00, 주말 11:00-23:00'
        imageUrl:
          type: string
          example: 'https://example.com/cafe.jpg'
        createdAt:
          type: string
          format: date-time

    WalkingMate:
      type: object
      properties:
        id:
          type: string
          example: '1'
        hostId:
          type: string
          example: '1'
        routeId:
          type: string
          example: '1'
        walkingDate:
          type: string
          format: date-time
          example: '2025-11-25T14:00:00Z'
        location:
          type: string
          example: '한강공원 여의도 입구'
        latitude:
          type: number
          example: 37.5326
        longitude:
          type: number
          example: 126.9012
        duration:
          type: integer
          example: 60
        maxParticipants:
          type: integer
          example: 5
        petSizeFilter:
          type: string
          enum: [ALL, SMALL, MEDIUM, LARGE]
          example: 'ALL'
        status:
          type: string
          enum: [OPEN, FULL, COMPLETED, CANCELLED]
          example: 'OPEN'
        description:
          type: string
          example: '주말 오후 한강 산책 함께 하실 분!'
        createdAt:
          type: string
          format: date-time

    WalkingSession:
      type: object
      properties:
        id:
          type: string
          example: '1'
        mateId:
          type: string
          example: '1'
        startTime:
          type: string
          format: date-time
        endTime:
          type: string
          format: date-time
        actualDistanceM:
          type: integer
          example: 3500
        actualDurationS:
          type: integer
          example: 3000
        pathData:
          type: string
          example: '[{"lat":37.5326,"lng":126.9012,"timestamp":"2025-11-25T14:00:00Z"}]'
        createdAt:
          type: string
          format: date-time

    HealthLog:
      type: object
      properties:
        id:
          type: string
          example: '1'
        participantPetId:
          type: string
          example: '1'
        preWeight:
          type: number
          example: 30.5
        preCondition:
          type: string
          enum: [EXCELLENT, GOOD, NORMAL, TIRED, SICK]
          example: 'GOOD'
        distanceM:
          type: integer
          example: 3500
        durationS:
          type: integer
          example: 3000
        avgSpeedMps:
          type: number
          example: 1.17
        maxSpeedMps:
          type: number
          example: 3.5
        caloriesBurned:
          type: integer
          example: 250
        stepCount:
          type: integer
          example: 4500
        postCondition:
          type: string
          enum: [EXCELLENT, GOOD, NORMAL, TIRED, SICK]
          example: 'NORMAL'
        needsRest:
          type: boolean
          example: false
        hydrationLevel:
          type: string
          enum: [GOOD, MODERATE, LOW]
          example: 'GOOD'
        notes:
          type: string
          example: '산책 잘 마쳤습니다'
        createdAt:
          type: string
          format: date-time

    Review:
      type: object
      properties:
        id:
          type: string
          example: '1'
        sessionId:
          type: string
          example: '1'
        userId:
          type: string
          example: '1'
        overallRating:
          type: integer
          minimum: 1
          maximum: 5
          example: 5
        routeRating:
          type: integer
          minimum: 1
          maximum: 5
          example: 4
        groupRating:
          type: integer
          minimum: 1
          maximum: 5
          example: 5
        distance:
          type: number
          example: 3.5
        duration:
          type: integer
          example: 50
        notes:
          type: string
          example: '즐거운 산책이었습니다!'
        photoUrls:
          type: array
          items:
            type: string
          example:
            ['https://example.com/photo1.jpg', 'https://example.com/photo2.jpg']
        isPublic:
          type: boolean
          example: true
        createdAt:
          type: string
          format: date-time

    Follow:
      type: object
      properties:
        id:
          type: string
          example: '1'
        followerId:
          type: string
          example: '1'
        followingId:
          type: string
          example: '2'
        createdAt:
          type: string
          format: date-time

    # Auth Schemas
    LoginRequest:
      type: object
      required:
        - loginIdentifier
        - password
      properties:
        loginIdentifier:
          type: string
          description: 사용자명 또는 이메일
        password:
          type: string

    RegisterRequest:
      type: object
      required:
        - username
        - password
        - email
        - name
      properties:
        username:
          type: string
        password:
          type: string
        email:
          type: string
        name:
          type: string
        birthDate:
          type: string
          format: date
        phone:
          type: string
        region:
          type: string
        latitude:
          type: number
        longitude:
          type: number
        isPetOwner:
          type: boolean

    # Pet Schemas
    PetRequest:
      type: object
      required:
        - petName
        - species
      properties:
        petName:
          type: string
        species:
          type: string
          enum: [DOG, CAT, OTHER]
        breed:
          type: string
        age:
          type: integer
        birthDate:
          type: string
          format: date
        gender:
          type: string
          enum: [MALE, FEMALE]
        isNeutered:
          type: boolean
        size:
          type: string
          enum: [SMALL, MEDIUM, LARGE]
        weight:
          type: number
        personality:
          type: string
        healthStatus:
          type: string
        specialNotes:
          type: string
        profileImage:
          type: string
        registrationNumber:
          type: string
        microchipNumber:
          type: string

    # Route Schemas
    RouteRequest:
      type: object
      required:
        - routeName
      properties:
        routeName:
          type: string
        region:
          type: string
        distance:
          type: number
        duration:
          type: integer
        difficulty:
          type: string
          enum: [EASY, MODERATE, HARD]
        pathData:
          type: string
        description:
          type: string

    # Facility Schemas
    FacilityRequest:
      type: object
      required:
        - name
        - type
        - address
        - latitude
        - longitude
      properties:
        name:
          type: string
        type:
          type: string
          enum: [CAFE, SHOP, HOSPITAL, PARK, OTHER]
        address:
          type: string
        latitude:
          type: number
        longitude:
          type: number
        phone:
          type: string
        description:
          type: string
        isSponsor:
          type: boolean
        discountInfo:
          type: string
        openingHours:
          type: string
        imageUrl:
          type: string

    # Walking Mate Schemas
    WalkingMateRequest:
      type: object
      required:
        - walkingDate
        - location
      properties:
        routeId:
          type: string
        walkingDate:
          type: string
          format: date-time
        location:
          type: string
        latitude:
          type: number
        longitude:
          type: number
        duration:
          type: integer
        maxParticipants:
          type: integer
        petSizeFilter:
          type: string
          enum: [ALL, SMALL, MEDIUM, LARGE]
        description:
          type: string

    # Review Schemas
    ReviewRequest:
      type: object
      required:
        - sessionId
        - overallRating
      properties:
        sessionId:
          type: string
        overallRating:
          type: integer
          minimum: 1
          maximum: 5
        routeRating:
          type: integer
          minimum: 1
          maximum: 5
        groupRating:
          type: integer
          minimum: 1
          maximum: 5
        distance:
          type: number
        duration:
          type: integer
        notes:
          type: string
        photoUrls:
          type: array
          items:
            type: string
        isPublic:
          type: boolean

paths:
  # ==================== Auth ====================
  /auth/register:
    post:
      tags:
        - auth
      summary: 회원가입
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RegisterRequest'
            example:
              username: 'johndoe'
              password: 'password123!'
              email: 'john@example.com'
              name: '홍길동'
              birthDate: '1990-01-01'
              phone: '010-1234-5678'
              region: '서울특별시 강남구'
              isPetOwner: true
      responses:
        '201':
          description: 회원가입 성공
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  message:
                    type: string
                    example: '회원가입 성공'
                  data:
                    type: object
                    properties:
                      accessToken:
                        type: string
                        example: 'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9...'
                      refreshToken:
                        type: string
                        example: 'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9...'
                      user:
                        type: object
                        properties:
                          id:
                            type: string
                            example: '1'
                          username:
                            type: string
                            example: 'johndoe'
                          email:
                            type: string
                            example: 'john@example.com'
                          name:
                            type: string
                            example: '홍길동'
                          role:
                            type: string
                            example: 'USER'
                          status:
                            type: string
                            example: 'ACTIVE'
        '400':
          description: 잘못된 요청
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                success: false
                message: '필수 항목이 누락되었습니다'
                statusCode: 400
        '409':
          description: 중복된 사용자명 또는 이메일
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                success: false
                message: '이미 사용 중인 사용자명 또는 이메일입니다'
                statusCode: 409

  /auth/login:
    post:
      tags:
        - auth
      summary: 로그인
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LoginRequest'
            example:
              loginIdentifier: 'johndoe'
              password: 'password123!'
      responses:
        '200':
          description: 로그인 성공
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  message:
                    type: string
                    example: '로그인 성공'
                  data:
                    type: object
                    properties:
                      accessToken:
                        type: string
                        example: 'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9...'
                      refreshToken:
                        type: string
                        example: 'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9...'
                      user:
                        type: object
                        properties:
                          id:
                            type: string
                            example: '1'
                          username:
                            type: string
                            example: 'johndoe'
                          email:
                            type: string
                            example: 'john@example.com'
                          name:
                            type: string
                            example: '홍길동'
                          role:
                            type: string
                            example: 'USER'
                          status:
                            type: string
                            example: 'ACTIVE'
        '401':
          description: 인증 실패
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                success: false
                message: '사용자명 또는 비밀번호가 일치하지 않습니다'
                statusCode: 401

  /auth/refresh:
    post:
      tags:
        - auth
      summary: 토큰 갱신
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                refreshToken:
                  type: string
            example:
              refreshToken: 'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9...'
      responses:
        '200':
          description: 토큰 갱신 성공
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  message:
                    type: string
                    example: '토큰 갱신 성공'
                  data:
                    type: object
                    properties:
                      accessToken:
                        type: string
                        example: 'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9...'
                      refreshToken:
                        type: string
                        example: 'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9...'
                      user:
                        type: object
                        properties:
                          id:
                            type: string
                            example: '1'
                          username:
                            type: string
                            example: 'johndoe'
        '401':
          description: 유효하지 않은 토큰
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                success: false
                message: '유효하지 않은 리프레시 토큰입니다'
                statusCode: 401

  /auth/logout:
    post:
      tags:
        - auth
      summary: 로그아웃
      security:
        - bearerAuth: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                refreshToken:
                  type: string
            example:
              refreshToken: 'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9...'
      responses:
        '200':
          description: 로그아웃 성공
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  message:
                    type: string
                    example: '로그아웃 성공'

  /auth/me:
    get:
      tags:
        - auth
      summary: 현재 사용자 정보 조회 (간단)
      security:
        - bearerAuth: []
      responses:
        '200':
          description: 사용자 정보 조회 성공
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  message:
                    type: string
                    example: '사용자 정보 조회 성공'
                  data:
                    type: object
                    properties:
                      id:
                        type: string
                        example: '1'
                      username:
                        type: string
                        example: 'johndoe'
                      email:
                        type: string
                        example: 'john@example.com'
                      name:
                        type: string
                        example: '홍길동'
                      role:
                        type: string
                        example: 'USER'
                      status:
                        type: string
                        example: 'ACTIVE'
        '401':
          description: 인증 필요
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                success: false
                message: '인증이 필요합니다'
                statusCode: 401

  /auth/profile:
    get:
      tags:
        - auth
      summary: 프로필 조회 (상세)
      security:
        - bearerAuth: []
      responses:
        '200':
          description: 프로필 조회 성공
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  message:
                    type: string
                    example: '프로필 조회 성공'
                  data:
                    allOf:
                      - $ref: '#/components/schemas/User'
                      - type: object
                        properties:
                          followerCount:
                            type: integer
                            example: 150
                          followingCount:
                            type: integer
                            example: 120
                          petCount:
                            type: integer
                            example: 2
        '401':
          description: 인증 필요
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  # ==================== Pets ====================
  /pets:
    post:
      tags:
        - pets
      summary: 반려동물 등록
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PetRequest'
            example:
              petName: '뭉치'
              species: 'DOG'
              breed: '골든 리트리버'
              age: 3
              gender: 'MALE'
              isNeutered: true
              size: 'LARGE'
              weight: 30.5
              personality: '온순하고 사람을 좋아함'
      responses:
        '201':
          description: 반려동물 등록 성공
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  message:
                    type: string
                    example: '반려동물 등록 성공'
                  data:
                    $ref: '#/components/schemas/Pet'
        '401':
          description: 인증 필요
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

    get:
      tags:
        - pets
      summary: 내 반려동물 목록 조회
      security:
        - bearerAuth: []
      responses:
        '200':
          description: 반려동물 목록 조회 성공
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  message:
                    type: string
                    example: '반려동물 목록 조회 성공'
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Pet'

  /pets/{id}:
    get:
      tags:
        - pets
      summary: 반려동물 상세 조회
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
          example: '1'
      responses:
        '200':
          description: 반려동물 상세 조회 성공
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  message:
                    type: string
                    example: '반려동물 조회 성공'
                  data:
                    $ref: '#/components/schemas/Pet'
        '404':
          description: 반려동물을 찾을 수 없음
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                success: false
                message: '반려동물을 찾을 수 없습니다'
                statusCode: 404

    patch:
      tags:
        - pets
      summary: 반려동물 정보 수정
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
          example: '1'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PetRequest'
            example:
              weight: 31.0
              healthStatus: '건강 양호'
      responses:
        '200':
          description: 반려동물 정보 수정 성공
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  message:
                    type: string
                    example: '반려동물 정보 수정 성공'
                  data:
                    $ref: '#/components/schemas/Pet'
        '403':
          description: 권한 없음
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                success: false
                message: '반려동물 정보를 수정할 권한이 없습니다'
                statusCode: 403

    delete:
      tags:
        - pets
      summary: 반려동물 삭제
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
          example: '1'
      responses:
        '200':
          description: 반려동물 삭제 성공
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  message:
                    type: string
                    example: '반려동물 삭제 성공'

  /pets/{id}/friends:
    post:
      tags:
        - pets
      summary: 반려동물 친구 요청
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
          example: '1'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                targetPetId:
                  type: string
            example:
              targetPetId: '2'
      responses:
        '201':
          description: 친구 요청 전송 성공
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  message:
                    type: string
                    example: '친구 요청을 전송했습니다'
                  data:
                    type: object
                    properties:
                      id:
                        type: string
                        example: '1'
                      status:
                        type: string
                        example: 'PENDING'

    get:
      tags:
        - pets
      summary: 반려동물 친구 목록 조회
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
          example: '1'
      responses:
        '200':
          description: 친구 목록 조회 성공
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  message:
                    type: string
                    example: '친구 목록 조회 성공'
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          example: '1'
                        pet:
                          $ref: '#/components/schemas/Pet'
                        friendshipDate:
                          type: string
                          format: date-time

  /pets/friends/requests:
    get:
      tags:
        - pets
      summary: 받은 친구 요청 목록 조회
      security:
        - bearerAuth: []
      responses:
        '200':
          description: 친구 요청 목록 조회 성공
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  message:
                    type: string
                    example: '친구 요청 목록 조회 성공'
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          example: '1'
                        fromPet:
                          $ref: '#/components/schemas/Pet'
                        toPet:
                          $ref: '#/components/schemas/Pet'
                        status:
                          type: string
                          example: 'PENDING'

  /pets/friends/{id}:
    patch:
      tags:
        - pets
      summary: 친구 요청 승인/거절
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
          example: '1'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                accept:
                  type: boolean
            example:
              accept: true
      responses:
        '200':
          description: 친구 요청 처리 성공
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  message:
                    type: string
                    example: '친구 요청을 승인했습니다'

  # ==================== Follows ====================
  /follows/{userId}:
    post:
      tags:
        - follows
      summary: 팔로우
      security:
        - bearerAuth: []
      parameters:
        - name: userId
          in: path
          required: true
          schema:
            type: string
          example: '2'
      responses:
        '201':
          description: 팔로우 성공
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  message:
                    type: string
                    example: '팔로우 성공'
                  data:
                    $ref: '#/components/schemas/Follow'

    delete:
      tags:
        - follows
      summary: 언팔로우
      security:
        - bearerAuth: []
      parameters:
        - name: userId
          in: path
          required: true
          schema:
            type: string
          example: '2'
      responses:
        '200':
          description: 언팔로우 성공
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  message:
                    type: string
                    example: '언팔로우 성공'

  /follows/{userId}/status:
    get:
      tags:
        - follows
      summary: 팔로우 상태 조회
      security:
        - bearerAuth: []
      parameters:
        - name: userId
          in: path
          required: true
          schema:
            type: string
          example: '2'
      responses:
        '200':
          description: 팔로우 상태 조회 성공
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  message:
                    type: string
                    example: '팔로우 상태 조회 성공'
                  data:
                    type: object
                    properties:
                      isFollowing:
                        type: boolean
                        example: true

  /follows/{userId}/followers:
    get:
      tags:
        - follows
      summary: 팔로워 목록 조회
      parameters:
        - name: userId
          in: path
          required: true
          schema:
            type: string
          example: '1'
        - name: limit
          in: query
          schema:
            type: integer
            default: 20
        - name: offset
          in: query
          schema:
            type: integer
            default: 0
      responses:
        '200':
          description: 팔로워 목록 조회 성공
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  message:
                    type: string
                    example: '팔로워 목록 조회 성공'
                  data:
                    type: object
                    properties:
                      followers:
                        type: array
                        items:
                          type: object
                          properties:
                            id:
                              type: string
                              example: '1'
                            username:
                              type: string
                              example: 'johndoe'
                            name:
                              type: string
                              example: '홍길동'
                            profileImage:
                              type: string
                              example: 'https://example.com/profile.jpg'
                            followedAt:
                              type: string
                              format: date-time
                      total:
                        type: integer
                        example: 150

  /follows/{userId}/following:
    get:
      tags:
        - follows
      summary: 팔로잉 목록 조회
      parameters:
        - name: userId
          in: path
          required: true
          schema:
            type: string
          example: '1'
        - name: limit
          in: query
          schema:
            type: integer
            default: 20
        - name: offset
          in: query
          schema:
            type: integer
            default: 0
      responses:
        '200':
          description: 팔로잉 목록 조회 성공
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  message:
                    type: string
                    example: '팔로잉 목록 조회 성공'
                  data:
                    type: object
                    properties:
                      following:
                        type: array
                        items:
                          type: object
                          properties:
                            id:
                              type: string
                              example: '2'
                            username:
                              type: string
                              example: 'janedoe'
                            name:
                              type: string
                              example: '김철수'
                            profileImage:
                              type: string
                              example: 'https://example.com/profile2.jpg'
                            followedAt:
                              type: string
                              format: date-time
                      total:
                        type: integer
                        example: 120

  /follows/{userId}/stats:
    get:
      tags:
        - follows
      summary: 팔로우 통계 조회
      parameters:
        - name: userId
          in: path
          required: true
          schema:
            type: string
          example: '1'
      responses:
        '200':
          description: 팔로우 통계 조회 성공
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  message:
                    type: string
                    example: '팔로우 통계 조회 성공'
                  data:
                    type: object
                    properties:
                      followerCount:
                        type: integer
                        example: 150
                      followingCount:
                        type: integer
                        example: 120

  # ==================== Routes ====================
  /routes:
    get:
      tags:
        - routes
      summary: 산책로 목록 조회
      parameters:
        - name: region
          in: query
          schema:
            type: string
          example: '서울특별시 영등포구'
        - name: difficulty
          in: query
          schema:
            type: string
            enum: [EASY, MODERATE, HARD]
          example: 'EASY'
        - name: minDistance
          in: query
          schema:
            type: number
          example: 2.0
        - name: maxDistance
          in: query
          schema:
            type: number
          example: 5.0
        - name: limit
          in: query
          schema:
            type: integer
            default: 20
        - name: offset
          in: query
          schema:
            type: integer
            default: 0
      responses:
        '200':
          description: 산책로 목록 조회 성공
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  message:
                    type: string
                    example: '산책로 목록 조회 성공'
                  data:
                    type: object
                    properties:
                      routes:
                        type: array
                        items:
                          $ref: '#/components/schemas/WalkingRoute'
                      total:
                        type: integer
                        example: 45

    post:
      tags:
        - routes
      summary: 산책로 생성
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RouteRequest'
            example:
              routeName: '한강공원 산책로'
              region: '서울특별시 영등포구'
              distance: 3.5
              duration: 50
              difficulty: 'EASY'
              description: '한강을 따라 걷는 평탄한 산책로'
      responses:
        '201':
          description: 산책로 생성 성공
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  message:
                    type: string
                    example: '산책로 생성 성공'
                  data:
                    $ref: '#/components/schemas/WalkingRoute'

  /routes/{id}:
    get:
      tags:
        - routes
      summary: 산책로 상세 조회
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
          example: '1'
      responses:
        '200':
          description: 산책로 상세 조회 성공
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  message:
                    type: string
                    example: '산책로 조회 성공'
                  data:
                    $ref: '#/components/schemas/WalkingRoute'

    patch:
      tags:
        - routes
      summary: 산책로 수정
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
          example: '1'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RouteRequest'
            example:
              description: '한강을 따라 걷는 평탄한 산책로 (업데이트)'
      responses:
        '200':
          description: 산책로 수정 성공
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  message:
                    type: string
                    example: '산책로 수정 성공'
                  data:
                    $ref: '#/components/schemas/WalkingRoute'

    delete:
      tags:
        - routes
      summary: 산책로 삭제
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
          example: '1'
      responses:
        '200':
          description: 산책로 삭제 성공
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  message:
                    type: string
                    example: '산책로 삭제 성공'

  /routes/{id}/facilities:
    get:
      tags:
        - routes
      summary: 산책로 주변 시설 조회
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
          example: '1'
      responses:
        '200':
          description: 시설 목록 조회 성공
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  message:
                    type: string
                    example: '시설 목록 조회 성공'
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Facility'

  # ==================== Facilities ====================
  /facilities:
    get:
      tags:
        - facilities
      summary: 시설 목록 조회
      parameters:
        - name: type
          in: query
          schema:
            type: string
            enum: [CAFE, SHOP, HOSPITAL, PARK, OTHER]
          example: 'CAFE'
        - name: isSponsor
          in: query
          schema:
            type: boolean
          example: true
        - name: latitude
          in: query
          schema:
            type: number
          example: 37.4979
        - name: longitude
          in: query
          schema:
            type: number
          example: 127.0276
        - name: radiusKm
          in: query
          schema:
            type: number
          example: 2.0
        - name: limit
          in: query
          schema:
            type: integer
            default: 20
        - name: offset
          in: query
          schema:
            type: integer
            default: 0
      responses:
        '200':
          description: 시설 목록 조회 성공
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  message:
                    type: string
                    example: '시설 목록 조회 성공'
                  data:
                    type: object
                    properties:
                      facilities:
                        type: array
                        items:
                          $ref: '#/components/schemas/Facility'
                      total:
                        type: integer
                        example: 25

    post:
      tags:
        - facilities
      summary: 시설 생성 (관리자 전용)
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FacilityRequest'
            example:
              name: '펫프렌들리 카페'
              type: 'CAFE'
              address: '서울특별시 강남구 테헤란로 123'
              latitude: 37.4979
              longitude: 127.0276
              phone: '02-1234-5678'
              isSponsor: true
              discountInfo: '산책 후 방문 시 10% 할인'
      responses:
        '201':
          description: 시설 생성 성공
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  message:
                    type: string
                    example: '시설 생성 성공'
                  data:
                    $ref: '#/components/schemas/Facility'
        '403':
          description: 관리자 권한 필요
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                success: false
                message: '관리자 권한이 필요합니다'
                statusCode: 403

  /facilities/{id}:
    get:
      tags:
        - facilities
      summary: 시설 상세 조회
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
          example: '1'
      responses:
        '200':
          description: 시설 상세 조회 성공
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  message:
                    type: string
                    example: '시설 조회 성공'
                  data:
                    $ref: '#/components/schemas/Facility'

    patch:
      tags:
        - facilities
      summary: 시설 수정 (관리자 전용)
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
          example: '1'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FacilityRequest'
            example:
              openingHours: '평일 09:00-22:00, 주말 10:00-23:00'
      responses:
        '200':
          description: 시설 수정 성공
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  message:
                    type: string
                    example: '시설 수정 성공'
                  data:
                    $ref: '#/components/schemas/Facility'

    delete:
      tags:
        - facilities
      summary: 시설 삭제 (관리자 전용)
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
          example: '1'
      responses:
        '200':
          description: 시설 삭제 성공
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  message:
                    type: string
                    example: '시설 삭제 성공'

  # ==================== Walking Mates ====================
  /walking-mates:
    get:
      tags:
        - walking-mates
      summary: 산책 메이트 목록 조회
      parameters:
        - name: status
          in: query
          schema:
            type: string
            enum: [OPEN, FULL, COMPLETED, CANCELLED]
          example: 'OPEN'
        - name: region
          in: query
          schema:
            type: string
          example: '서울특별시 영등포구'
        - name: walkingDate
          in: query
          schema:
            type: string
            format: date
          example: '2025-11-25'
        - name: petSizeFilter
          in: query
          schema:
            type: string
            enum: [ALL, SMALL, MEDIUM, LARGE]
          example: 'ALL'
        - name: latitude
          in: query
          schema:
            type: number
          example: 37.5326
        - name: longitude
          in: query
          schema:
            type: number
          example: 126.9012
        - name: radiusKm
          in: query
          schema:
            type: number
          example: 3.0
        - name: limit
          in: query
          schema:
            type: integer
            default: 20
        - name: offset
          in: query
          schema:
            type: integer
            default: 0
      responses:
        '200':
          description: 산책 메이트 목록 조회 성공
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  message:
                    type: string
                    example: '산책 메이트 목록 조회 성공'
                  data:
                    type: object
                    properties:
                      mates:
                        type: array
                        items:
                          allOf:
                            - $ref: '#/components/schemas/WalkingMate'
                            - type: object
                              properties:
                                host:
                                  type: object
                                  properties:
                                    id:
                                      type: string
                                      example: '1'
                                    username:
                                      type: string
                                      example: 'johndoe'
                                    name:
                                      type: string
                                      example: '홍길동'
                                    profileImage:
                                      type: string
                                      example: 'https://example.com/profile.jpg'
                                currentParticipants:
                                  type: integer
                                  example: 2
                      total:
                        type: integer
                        example: 35

    post:
      tags:
        - walking-mates
      summary: 산책 메이트 모집 생성
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WalkingMateRequest'
            example:
              routeId: '1'
              walkingDate: '2025-11-25T14:00:00Z'
              location: '한강공원 여의도 입구'
              latitude: 37.5326
              longitude: 126.9012
              duration: 60
              maxParticipants: 5
              petSizeFilter: 'ALL'
              description: '주말 오후 한강 산책 함께 하실 분!'
      responses:
        '201':
          description: 모집 생성 성공
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  message:
                    type: string
                    example: '산책 메이트 모집 생성 성공'
                  data:
                    $ref: '#/components/schemas/WalkingMate'

  /walking-mates/{id}:
    get:
      tags:
        - walking-mates
      summary: 산책 메이트 상세 조회
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
          example: '1'
      responses:
        '200':
          description: 산책 메이트 상세 조회 성공
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  message:
                    type: string
                    example: '산책 메이트 조회 성공'
                  data:
                    allOf:
                      - $ref: '#/components/schemas/WalkingMate'
                      - type: object
                        properties:
                          host:
                            type: object
                            properties:
                              id:
                                type: string
                                example: '1'
                              username:
                                type: string
                                example: 'johndoe'
                              name:
                                type: string
                                example: '홍길동'
                              profileImage:
                                type: string
                                example: 'https://example.com/profile.jpg'
                          participants:
                            type: array
                            items:
                              type: object
                              properties:
                                id:
                                  type: string
                                  example: '1'
                                user:
                                  type: object
                                  properties:
                                    id:
                                      type: string
                                      example: '2'
                                    username:
                                      type: string
                                      example: 'janedoe'
                                    name:
                                      type: string
                                      example: '김철수'
                                pets:
                                  type: array
                                  items:
                                    $ref: '#/components/schemas/Pet'
                                status:
                                  type: string
                                  example: 'ACCEPTED'

    patch:
      tags:
        - walking-mates
      summary: 산책 메이트 수정
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
          example: '1'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WalkingMateRequest'
            example:
              maxParticipants: 6
              description: '주말 오후 한강 산책 함께 하실 분! (인원 추가)'
      responses:
        '200':
          description: 산책 메이트 수정 성공
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  message:
                    type: string
                    example: '산책 메이트 수정 성공'
                  data:
                    $ref: '#/components/schemas/WalkingMate'

    delete:
      tags:
        - walking-mates
      summary: 산책 메이트 삭제
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
          example: '1'
      responses:
        '200':
          description: 산책 메이트 삭제 성공
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  message:
                    type: string
                    example: '산책 메이트 삭제 성공'

  /walking-mates/{id}/join:
    post:
      tags:
        - walking-mates
      summary: 산책 메이트 참가 신청
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
          example: '1'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                petIds:
                  type: array
                  items:
                    type: string
            example:
              petIds: ['1', '2']
      responses:
        '201':
          description: 참가 신청 성공
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  message:
                    type: string
                    example: '참가 신청이 완료되었습니다'
                  data:
                    type: object
                    properties:
                      participantId:
                        type: string
                        example: '1'
                      status:
                        type: string
                        example: 'PENDING'

  /walking-mates/{id}/leave:
    delete:
      tags:
        - walking-mates
      summary: 산책 메이트 참가 취소
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
          example: '1'
      responses:
        '200':
          description: 참가 취소 성공
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  message:
                    type: string
                    example: '참가 취소가 완료되었습니다'

  /walking-mates/participants/{id}/approve:
    patch:
      tags:
        - walking-mates
      summary: 참가 승인 (호스트 전용)
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
          description: 참가자(participant) ID
          example: '1'
      responses:
        '200':
          description: 참가 승인 성공
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  message:
                    type: string
                    example: '참가를 승인했습니다'

  /walking-mates/participants/{id}/reject:
    patch:
      tags:
        - walking-mates
      summary: 참가 거절 (호스트 전용)
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
          description: 참가자(participant) ID
          example: '1'
      responses:
        '200':
          description: 참가 거절 성공
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  message:
                    type: string
                    example: '참가를 거절했습니다'

  /walking-mates/waitlist/{id}:
    delete:
      tags:
        - walking-mates
      summary: 대기 취소
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
          description: 대기열(waitlist) ID
          example: '1'
      responses:
        '200':
          description: 대기 취소 성공
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  message:
                    type: string
                    example: '대기를 취소했습니다'

  # ==================== Sessions ====================
  /sessions:
    get:
      tags:
        - sessions
      summary: 산책 세션 목록 조회
      parameters:
        - name: mateId
          in: query
          schema:
            type: string
          example: '1'
        - name: userId
          in: query
          schema:
            type: string
          example: '1'
        - name: limit
          in: query
          schema:
            type: integer
            default: 20
        - name: offset
          in: query
          schema:
            type: integer
            default: 0
      responses:
        '200':
          description: 산책 세션 목록 조회 성공
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  message:
                    type: string
                    example: '산책 세션 목록 조회 성공'
                  data:
                    type: object
                    properties:
                      sessions:
                        type: array
                        items:
                          $ref: '#/components/schemas/WalkingSession'
                      total:
                        type: integer
                        example: 12

    post:
      tags:
        - sessions
      summary: 산책 세션 시작 (호스트 전용)
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                mateId:
                  type: string
            example:
              mateId: '1'
      responses:
        '201':
          description: 산책 세션 시작 성공
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  message:
                    type: string
                    example: '산책 세션 시작 성공'
                  data:
                    $ref: '#/components/schemas/WalkingSession'
        '403':
          description: 권한 없음
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                success: false
                message: '호스트만 세션을 시작할 수 있습니다'
                statusCode: 403

  /sessions/{id}:
    get:
      tags:
        - sessions
      summary: 산책 세션 상세 조회
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
          example: '1'
      responses:
        '200':
          description: 산책 세션 상세 조회 성공
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  message:
                    type: string
                    example: '산책 세션 조회 성공'
                  data:
                    $ref: '#/components/schemas/WalkingSession'
        '404':
          description: 세션을 찾을 수 없음
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                success: false
                message: '산책 세션을 찾을 수 없습니다'
                statusCode: 404

  /sessions/{id}/end:
    patch:
      tags:
        - sessions
      summary: 산책 세션 종료 (호스트 전용)
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
          example: '1'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                actualDistanceM:
                  type: integer
                actualDurationS:
                  type: integer
                pathData:
                  type: string
            example:
              actualDistanceM: 3500
              actualDurationS: 3000
              pathData: '[{"lat":37.5326,"lng":126.9012,"timestamp":"2025-11-25T14:00:00Z"}]'
      responses:
        '200':
          description: 산책 세션 종료 성공
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  message:
                    type: string
                    example: '산책 세션 종료 성공'
                  data:
                    $ref: '#/components/schemas/WalkingSession'
        '403':
          description: 권한 없음
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                success: false
                message: '호스트만 세션을 종료할 수 있습니다'
                statusCode: 403

  # ==================== Health Logs ====================
  /health-logs:
    post:
      tags:
        - health-logs
      summary: 건강 로그 생성
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - participantPetId
              properties:
                participantPetId:
                  type: string
                preWeight:
                  type: number
                preCondition:
                  type: string
                  enum: [EXCELLENT, GOOD, NORMAL, TIRED, SICK]
                distanceM:
                  type: integer
                durationS:
                  type: integer
                avgSpeedMps:
                  type: number
                maxSpeedMps:
                  type: number
                caloriesBurned:
                  type: integer
                stepCount:
                  type: integer
                postCondition:
                  type: string
                  enum: [EXCELLENT, GOOD, NORMAL, TIRED, SICK]
                needsRest:
                  type: boolean
                hydrationLevel:
                  type: string
                  enum: [GOOD, MODERATE, LOW]
                notes:
                  type: string
            example:
              participantPetId: '1'
              preWeight: 30.5
              preCondition: 'GOOD'
              distanceM: 3500
              durationS: 3000
              avgSpeedMps: 1.17
              maxSpeedMps: 3.5
              caloriesBurned: 250
              stepCount: 4500
              postCondition: 'NORMAL'
              needsRest: false
              hydrationLevel: 'GOOD'
              notes: '산책 잘 마쳤습니다'
      responses:
        '201':
          description: 건강 로그 생성 성공
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  message:
                    type: string
                    example: '건강 로그 생성 성공'
                  data:
                    $ref: '#/components/schemas/HealthLog'
        '400':
          description: 잘못된 요청
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                success: false
                message: '필수 항목이 누락되었습니다'
                statusCode: 400

  /health-logs/{id}:
    get:
      tags:
        - health-logs
      summary: 건강 로그 상세 조회
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
          example: '1'
      responses:
        '200':
          description: 건강 로그 상세 조회 성공
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  message:
                    type: string
                    example: '건강 로그 조회 성공'
                  data:
                    $ref: '#/components/schemas/HealthLog'
        '404':
          description: 건강 로그를 찾을 수 없음
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                success: false
                message: '건강 로그를 찾을 수 없습니다'
                statusCode: 404

    patch:
      tags:
        - health-logs
      summary: 건강 로그 수정
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
          example: '1'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                preWeight:
                  type: number
                preCondition:
                  type: string
                  enum: [EXCELLENT, GOOD, NORMAL, TIRED, SICK]
                postCondition:
                  type: string
                  enum: [EXCELLENT, GOOD, NORMAL, TIRED, SICK]
                needsRest:
                  type: boolean
                hydrationLevel:
                  type: string
                  enum: [GOOD, MODERATE, LOW]
                notes:
                  type: string
            example:
              postCondition: 'TIRED'
              needsRest: true
              notes: '산책 후 피곤해 보임'
      responses:
        '200':
          description: 건강 로그 수정 성공
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  message:
                    type: string
                    example: '건강 로그 수정 성공'
                  data:
                    $ref: '#/components/schemas/HealthLog'
        '403':
          description: 권한 없음
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                success: false
                message: '건강 로그를 수정할 권한이 없습니다'
                statusCode: 403

    delete:
      tags:
        - health-logs
      summary: 건강 로그 삭제
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
          example: '1'
      responses:
        '200':
          description: 건강 로그 삭제 성공
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  message:
                    type: string
                    example: '건강 로그 삭제 성공'
        '403':
          description: 권한 없음
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                success: false
                message: '건강 로그를 삭제할 권한이 없습니다'
                statusCode: 403

  /health-logs/pets/{petId}:
    get:
      tags:
        - health-logs
      summary: 반려동물의 건강 로그 목록 조회
      parameters:
        - name: petId
          in: path
          required: true
          schema:
            type: string
          example: '1'
        - name: limit
          in: query
          schema:
            type: integer
            default: 20
        - name: offset
          in: query
          schema:
            type: integer
            default: 0
      responses:
        '200':
          description: 건강 로그 목록 조회 성공
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  message:
                    type: string
                    example: '건강 로그 목록 조회 성공'
                  data:
                    type: object
                    properties:
                      logs:
                        type: array
                        items:
                          $ref: '#/components/schemas/HealthLog'
                      total:
                        type: integer
                        example: 28
        '404':
          description: 반려동물을 찾을 수 없음
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                success: false
                message: '반려동물을 찾을 수 없습니다'
                statusCode: 404

  # ==================== Reviews ====================
  /reviews:
    post:
      tags:
        - reviews
      summary: 후기 작성
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ReviewRequest'
            example:
              sessionId: '1'
              overallRating: 5
              routeRating: 4
              groupRating: 5
              distance: 3.5
              duration: 50
              notes: '즐거운 산책이었습니다!'
              photoUrls:
                [
                  'https://example.com/photo1.jpg',
                  'https://example.com/photo2.jpg',
                ]
              isPublic: true
      responses:
        '201':
          description: 후기 작성 성공
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  message:
                    type: string
                    example: '후기 작성 성공'
                  data:
                    $ref: '#/components/schemas/Review'
        '400':
          description: 잘못된 요청
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                success: false
                message: '이미 해당 세션에 대한 후기를 작성했습니다'
                statusCode: 400

  /reviews/{id}:
    get:
      tags:
        - reviews
      summary: 후기 상세 조회
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
          example: '1'
      responses:
        '200':
          description: 후기 상세 조회 성공
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  message:
                    type: string
                    example: '후기 조회 성공'
                  data:
                    allOf:
                      - $ref: '#/components/schemas/Review'
                      - type: object
                        properties:
                          user:
                            type: object
                            properties:
                              id:
                                type: string
                                example: '1'
                              username:
                                type: string
                                example: 'johndoe'
                              name:
                                type: string
                                example: '홍길동'
                              profileImage:
                                type: string
                                example: 'https://example.com/profile.jpg'
        '404':
          description: 후기를 찾을 수 없음
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                success: false
                message: '후기를 찾을 수 없습니다'
                statusCode: 404

    patch:
      tags:
        - reviews
      summary: 후기 수정
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
          example: '1'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ReviewRequest'
            example:
              overallRating: 4
              notes: '후기 수정 - 전반적으로 좋았습니다'
      responses:
        '200':
          description: 후기 수정 성공
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  message:
                    type: string
                    example: '후기 수정 성공'
                  data:
                    $ref: '#/components/schemas/Review'
        '403':
          description: 권한 없음
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                success: false
                message: '후기를 수정할 권한이 없습니다'
                statusCode: 403

    delete:
      tags:
        - reviews
      summary: 후기 삭제
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
          example: '1'
      responses:
        '200':
          description: 후기 삭제 성공
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  message:
                    type: string
                    example: '후기 삭제 성공'
        '403':
          description: 권한 없음
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                success: false
                message: '후기를 삭제할 권한이 없습니다'
                statusCode: 403

  /reviews/sessions/{sessionId}:
    get:
      tags:
        - reviews
      summary: 세션의 후기 목록 조회
      parameters:
        - name: sessionId
          in: path
          required: true
          schema:
            type: string
          example: '1'
      responses:
        '200':
          description: 후기 목록 조회 성공
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  message:
                    type: string
                    example: '후기 목록 조회 성공'
                  data:
                    type: array
                    items:
                      allOf:
                        - $ref: '#/components/schemas/Review'
                        - type: object
                          properties:
                            user:
                              type: object
                              properties:
                                id:
                                  type: string
                                  example: '1'
                                username:
                                  type: string
                                  example: 'johndoe'
                                name:
                                  type: string
                                  example: '홍길동'
                                profileImage:
                                  type: string
                                  example: 'https://example.com/profile.jpg'

  /reviews/routes/{routeId}:
    get:
      tags:
        - reviews
      summary: 산책로의 후기 목록 조회
      parameters:
        - name: routeId
          in: path
          required: true
          schema:
            type: string
          example: '1'
        - name: limit
          in: query
          schema:
            type: integer
            default: 20
        - name: offset
          in: query
          schema:
            type: integer
            default: 0
      responses:
        '200':
          description: 후기 목록 조회 성공
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  message:
                    type: string
                    example: '후기 목록 조회 성공'
                  data:
                    type: object
                    properties:
                      reviews:
                        type: array
                        items:
                          allOf:
                            - $ref: '#/components/schemas/Review'
                            - type: object
                              properties:
                                user:
                                  type: object
                                  properties:
                                    id:
                                      type: string
                                      example: '1'
                                    username:
                                      type: string
                                      example: 'johndoe'
                                    name:
                                      type: string
                                      example: '홍길동'
                                    profileImage:
                                      type: string
                                      example: 'https://example.com/profile.jpg'
                      total:
                        type: integer
                        example: 45
                      averageRating:
                        type: number
                        example: 4.5

  /reviews/users/{userId}:
    get:
      tags:
        - reviews
      summary: 사용자의 후기 목록 조회
      parameters:
        - name: userId
          in: path
          required: true
          schema:
            type: string
          example: '1'
        - name: limit
          in: query
          schema:
            type: integer
            default: 20
        - name: offset
          in: query
          schema:
            type: integer
            default: 0
      responses:
        '200':
          description: 후기 목록 조회 성공
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  message:
                    type: string
                    example: '후기 목록 조회 성공'
                  data:
                    type: object
                    properties:
                      reviews:
                        type: array
                        items:
                          $ref: '#/components/schemas/Review'
                      total:
                        type: integer
                        example: 18
